[project]
	description = Simple game for university project
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group minezpraft-devz
	owner = group user/mkulagowski
[access "refs/for/refs/*"]
	read = group minezpraft-devz
	read = group user/mkulagowski
	push = group minezpraft-devz
	push = group user/mkulagowski
	label-Code-Review = -2..+2 group minezpraft-devz
	label-Code-Review = -2..+2 group user/mkulagowski
	label-Verified = -1..+1 group minezpraft-devz
	label-Verified = -1..+1 group user/mkulagowski
	rebase = group minezpraft-devz
	rebase = group user/mkulagowski
	removeReviewer = group minezpraft-devz
	removeReviewer = group user/mkulagowski
	submit = group minezpraft-devz
	submit = group user/mkulagowski
[access "refs/heads/*"]
	read = group minezpraft-devz
	read = group user/mkulagowski
	create = group user/mkulagowski
	push = +force group minezpraft-devz
	push = +force group user/mkulagowski
	pushMerge = group minezpraft-devz
	pushMerge = group user/mkulagowski
	label-Code-Review = -2..+2 group minezpraft-devz
	label-Verified = -1..+1 group minezpraft-devz
	rebase = group minezpraft-devz
	submit = group minezpraft-devz
[access "refs/tags/*"]
	push = +force group minezpraft-devz
	push = +force group user/mkulagowski
	pushTag = group user/mkulagowski
	pushSignedTag = group user/mkulagowski
